@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    transform: translateY(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(-30px); }
  100% {
    transform: translateY(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /*By Defalt the font size is 16px (1rem), But we want change the defalt to 10px for easy calculate rem, 100/16=0.625 */
  font-size: 62.5%;
  font-family: sans-serif; }

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  line-height: 1.7;
  /*padding: 2rem;*/ }

@font-face {
  font-family: 'sacramento-regular';
  src: url("../fonts/Sacramento-Regular.ttf"); }

@font-face {
  font-family: 'IndieFlower-Regular';
  src: url("../fonts/IndieFlower-Regular.ttf") format("truetype"); }

.heading-primary {
  display: block;
  color: #ffffff;
  font-family: sacramento-regular;
  backface-visibility: hidden;
  font-size: 6rem;
  font-weight: 500; }

.heading-secondary {
  font-family: Calibri; }

.form__label {
  font-family: Calibri;
  font-size: 1.5rem;
  color: lightcoral;
  padding-left: .5rem; }

.form__input-text {
  color: gray;
  font-size: 1.6rem;
  font-family: Calibri; }
  .form__input-text:focus {
    color: black; }

.u-center-text {
  text-align: center; }

.btn__input {
  display: block;
  margin: 0 auto;
  padding-left: 1rem;
  width: 100%;
  height: 3rem;
  border: none;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 2rem;
  transition: background .75s; }
  .btn__input-textarea {
    height: 10rem;
    resize: none;
    border-radius: 1rem;
    white-space: pre; }
  .btn__input:focus {
    outline: none;
    background: rgba(31, 134, 252, 0.15); }
  .btn__input-date, .btn__input-time {
    display: inline-block;
    padding-right: 1rem; }

.btn__form-save {
  width: 20rem;
  /*height: 3rem;*/
  position: relative;
  display: block;
  margin: 2rem auto;
  padding: .3rem;
  border-radius: 1rem;
  border: none;
  background: #42C2DF;
  color: white;
  font-size: 1.8rem;
  transition: background 0.4s;
  cursor: pointer; }
  .btn__form-save:hover {
    outline: 0 !important;
    background: #3594A9;
    transition: background 0.4s; }

.btn__radio {
  display: none; }
  .btn__radio-color {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    /*background: red;*/ }
    .btn__radio-color span {
      display: block;
      position: absolute;
      width: 50px;
      height: 50px;
      padding: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      background: #eeeeee;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      transition: ease .3s; }
      .lumber .btn__radio-color span {
        background: #FFDFD3; }
      .candy .btn__radio-color span {
        background: #FEC8D8; }
      .violet .btn__radio-color span {
        background: #D291BC; }
      .thistle .btn__radio-color span {
        background: #E0BBE4; }
      .btn__radio-color span:hover {
        /*background-color: blue;*/
        width: 60px;
        height: 60px; }
      .btn__radio-color span-layer {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: transparent;
        /*transition: ease .3s;*/
        z-index: -1; }

.form {
  /*background-color:blue;*/ }
  .form__field {
    width: 100%;
    margin: 2rem auto;
    /*background-color: red;*/ }
    .form__field::after {
      content: "";
      display: table;
      clear: both; }
    .form__field-col {
      /*background-color: yellow;*/
      display: inline-block;
      width: 48%; }
    .form__field-date {
      float: left; }
    .form__field-time {
      float: right; }
    .form__field-color {
      /*background-color: yellow;*/
      /*            @include clearfix;*/ }
      .form__field-color-container {
        /*background-color: brown;*/
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        text-align: center; }
      .form__field-color-col {
        display: inline-block; }

.note {
  width: 30rem;
  height: 30rem;
  display: inline-block;
  position: relative;
  margin: 0 auto;
  text-align: center; }
  .note:before {
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    border-width: 0rem;
    border-style: solid;
    transition: .75s;
    z-index: 5; }
  .note__header {
    vertical-align: middle;
    line-height: 4rem;
    border-bottom: 1px dotted gray; }
    .note__header::after {
      content: "";
      display: table;
      clear: both; }
    .note__header-title {
      white-space: nowrap;
      overflow: hidden;
      max-width: 25rem;
      float: left;
      /*background-color: orange;*/
      font-weight: bold;
      margin-left: .7rem; }
    .note__header-delete {
      float: right;
      /*background-color: yellow;*/
      margin-right: .5rem; }
      .note__header-delete i {
        font-size: 2rem;
        visibility: hidden; }
        .note__header-delete i:hover {
          cursor: pointer; }
  .note__main {
    display: block;
    /*background-color: orange;*/
    width: 25rem;
    height: 21.2rem;
    text-align: left;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(#1d97b8 0.05em, transparent 0.05em);
    background-size: 90% 3rem; }
    .note__main-text {
      line-height: 3rem;
      display: inline-block;
      width: 25rem;
      height: 21.2rem;
      background: none;
      /*background-color: rgba(blue, .2);*/
      border: none;
      resize: none;
      white-space: pre;
      font-family: IndieFlower-Regular;
      font-size: 2rem;
      overflow: auto; }
      .note__main-text::-webkit-scrollbar {
        width: .5rem;
        height: .5rem; }
        .note__main-text::-webkit-scrollbar-track {
          background: #f1f1f1; }
        .note__main-text::-webkit-scrollbar-thumb {
          background: #888; }
          .note__main-text::-webkit-scrollbar-thumb:hover {
            background: #555; }
  .note__footer {
    vertical-align: middle;
    line-height: 4rem;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right; }
    .note__footer p {
      display: inline;
      margin-right: 2.4rem; }
  .note:hover:before {
    border-width: 1.5rem; }
  .note:hover i {
    visibility: visible; }
  .note__preview {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    /*background-color: red;*/ }
  .note-animate {
    animation: fadeIn 2.5s ease;
    animation-delay: .5s;
    animation-fill-mode: backwards; }
  .note--lumber {
    background-color: #FFDFD3; }
    .note--lumber:before {
      border-color: #ffbaa0 white white #ffbaa0; }
    .note--lumber .note__header {
      background-color: #ffd4c4; }
  .note--violet {
    background-color: #e1b5d2; }
    .note--violet:before {
      border-color: #d291bc white white #d291bc; }
    .note--violet .note__header {
      background-color: #dcaacb; }
  .note--candy {
    background-color: #FEC8D8; }
    .note--candy:before {
      border-color: #fd96b4 white white #fd96b4; }
    .note--candy .note__header {
      background-color: #feb9cd; }
  .note--thistle {
    background-color: #E0BBE4; }
    .note--thistle:before {
      border-color: #cf96d6 white white #cf96d6; }
    .note--thistle .note__header {
      background-color: #dbb0e0; }

/*@import "Layout/_grid.scss";*/
.header {
  background-image: url(../img/leaves.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 5rem 5rem; }
  .header__textbox {
    animation: moveInUp 1s ease-out;
    animation-delay: .5s;
    animation-fill-mode: backwards; }

.newTask {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  background-position: center;
  display: block;
  padding: 10rem; }
  .newTask__row {
    margin: 0 auto;
    min-width: 40rem;
    max-width: 80rem;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 0 1rem 3.5rem 2rem rgba(0, 0, 0, 0.2);
    animation: moveInBottom 1s ease-out;
    animation-delay: .5s;
    animation-fill-mode: backwards; }
  .newTask__col {
    margin: 0 auto;
    padding: 2rem;
    /*        background-color:yellow;*/
    /*border:1px solid black;*/ }

.section-tasks {
  display: none;
  display: flex;
  min-width: 40rem;
  width: 100%;
  /*background-color: yellow;*/
  /*padding: 5rem 5rem;*/
  margin: 0 auto;
  position: relative; }
  .section-tasks #all-Tasks-section {
    margin: 0 auto;
    min-width: 40rem;
    max-width: 110rem;
    /*background-color: red;*/ }
    .section-tasks #all-Tasks-section::after {
      content: "";
      display: table;
      clear: both; }
    .section-tasks #all-Tasks-section .col {
      float: left;
      display: block;
      margin: 2rem 0;
      margin-right: 2rem;
      padding: 2rem; }

.footer {
  background-color: black;
  color: white;
  font-family: Calibri;
  text-align: center;
  padding: 2.5rem; }
